@mixin wrapper-setup($w: 100%, $mw: 800px) {
	width: $w;
	max-width: $mw;
	margin: 0 auto;

	@media (min-width: 750px) {
	}
}

//
// mixins for grid layouts
//
@mixin grid-setup($grids: 1, $col-gap: 0rem, $row-gap: 0rem) {
	display: grid;
	grid-column-gap: $col-gap;
	grid-row-gap: $row-gap;
	grid-template-columns: unquote("repeat(" + $grids + ", [col] 1fr)");
}

@mixin grid-column-setup($row: 1, $col: 1, $span: 12) {
	grid-row: $row;
	grid-column: $col;

	@media (min-width: 750px) {
		grid-column: $col / span $span;
	}
}

//
// mixins for flex layouts
//
@mixin flex-setup(
	$justify: flex-start,
	$align: flex-start,
	$wrap: nowrap,
	$dir: row
) {
	display: flex;
	flex-direction: $dir;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-content: $align;
}
