{% include ["item/" ~ entry.section.handle ~ "/" ~ entry.type, "item/" ~ entry.section.handle ~ "/default", "item/default"] %}
{#
{% set path = "item/" ~ entry.section.handle ~ "/" ~ entry.type %}
<h2>{{ path }} --> {{ entry.title }}</h2>
#}
