@import "layout/mixins";
@import "layout/extends";

body {
	//background-color: #d7cec7;
	//background-color: lighten($color-tan, 25%);
	background-color: darken($color-grain, 0%);
}

.page {
	width: 100%;
	max-width: 960px;
	max-width: 1200px;
	margin: 0;
	padding: 0;
	background-color: $color-page-bg;
	border-radius: 0.5rem;

	.mainpanel {
		background-color: $color-content-bg;
		padding: 0 10px;
	}

	.mainheader {
		background-color: $color-header-bg;
		border-radius: 0;
		position: relative;

		.logo {
			position: absolute;
			left: 1.5rem;
			top: 1rem;
			padding: 2rem;
			border-radius: 1rem;
			background-color: #d7cec7;
			background-color: $color-content-bg;
		}

		.logo img {
			width: 25vw;
			max-width: 10rem;
		}
	}

	.mainfooter {
		background-color: $color-footer-bg;
		border-radius: 0;
	}

	.maincontent {
		min-height: 4rem;
		background-color: $color-content-bg;
	}

	@media (min-width: 400px) {
		.mainheader {
			.logo {
				position: absolute;
				left: 3rem;
				top: 2rem;
			}
			.logo img {
				width: 25vw;
				max-width: 12rem;
			}
		}
	}

	@media (min-width: 550px) {
		.mainheader {
			.logo {
				position: absolute;
				left: 3rem;
				top: 2rem;
			}
			.logo img {
				width: 22vw;
				max-width: 13.5rem;
			}
		}
	}

	@media (min-width: 750px) {
		margin: 2rem auto;
		padding: 0 2rem;

		.mainheader {
			border-radius: 1rem 1rem 0 0;
			.logo img {
				width: 18vw;
				max-width: 15rem;
			}
		}

		.mainfooter {
			border-radius: 0 0 1rem 1rem;
		}

		.maincontent {
		}

		.mainpanel {
			display: none;
			min-height: 4rem;
			background-color: $color-content-bg;
		}
	}
}

.page.wpanel {
	.content-wrapper {
		@include flex-setup(flex-start, flex-start, wrap);

		.maincontent {
			order: 2;
			width: 100%;
		}

		.mainpanel {
			order: 1;
			display: block;
			width: 100%;
			background-color: $color-content-bg;
		}

		@media (min-width: 750px) {
			.maincontent {
				order: 2;
				width: 65%;
			}

			.mainpanel {
				order: 1;
				display: block;
				width: 35%;
				background-color: $color-content-bg;
			}
		}
	}
}

.section-row {
	width: 100%;
}

.topic,
.heading,
.content {
	width: 100%;
}

.full-wrapper {
	@include wrapper-setup(100%, 100%);
	@include grid-setup(1);
	margin: 0;
	padding: 2rem 0;
	@media (min-width: 750px) {
		@include grid-setup(12);
		padding: 2rem 0;
	}
}

.about .full-wrapper,
.glance .full-wrapper,
.contact .full-wrapper {
	@include grid-setup(2);
}

.testimonials .full-wrapper {
	display: block;
	@include flex-setup(center, center, nowrap, column);
	min-height: 20rem;
	background-color: #d7cec7;
	background-color: $color-testimonial;
	background-color: rgb(231, 248, 255);
}

.testimonials .quote-msg {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.testimonials .quote-msg p {
	margin-bottom: 0;
}

.quote-msg cite {
	display: block;
	text-align: center;
}

.spotlights .full-wrapper {
	@include flex-setup(flex-start, center, wrap);

	@media (min-width: 750px) {
	}
}

.spotlights .spotlight {
	width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;

	@media (min-width: 400px) {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	@media (min-width: 750px) {
		width: 33.333%;
		padding-left: 0;
		padding-right: 0;
	}
}

.spotlights img {
	margin-left: auto;
	margin-right: auto;

	@media (min-width: 400px) {
	}

	@media (min-width: 750px) {
		max-width: 100%;
	}
}

.spotlights .spotlight-4up {
	width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;

	@media (min-width: 400px) {
	}

	@media (min-width: 750px) {
		width: 25%;
		padding-left: 0;
		padding-right: 0;
	}
}

.features .full-wrapper {
	@include flex-setup(flex-start, center, wrap);

	@media (min-width: 750px) {
	}
}

.features .feature {
	width: 100%;
	@media (min-width: 750px) {
		width: 50%;
	}
}

.feature .contact-logo {
	display: block;
	text-align: center;
	margin-bottom: 2rem;
}
.feature .contact-logo img {
	width: 35%;
	display: inline-block;
}

.feature p {
	margin-bottom: 0.25rem;
}

.content .copy {
	@media (min-width: 750px) {
		padding: 0 10%;
	}
}

.content .accent {
	width: 75%;
	margin: 0 auto;
	@media (min-width: 750px) {
		width: 100%;
	}
}

.content.reverse .copy {
	@media (min-width: 750px) {
		grid-row: 1;
		grid-column: 2;
	}
}

.content.reverse .accent {
	@media (min-width: 750px) {
		grid-column: 1;
		grid-row: 1;
	}
}

.wrapper {
	@include wrapper-setup(100%, 960px);
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-top: 1px solid #eee;
	@media (min-width: 750px) {
		padding-top: 6rem;
		padding-bottom: 0rem;
	}
}

footer {
	@include wrapper-setup(100%, 100%);
	@include flex-setup(flex-start, center, wrap);
	border-top: 1px solid #e0e0e0;
	padding: 2rem;
	margin-bottom: 0;
	@media (min-width: 750px) {
	}
}

footer .switcher,
footer .nav,
footer .copyright {
	width: 100%;
	@media (min-width: 750px) {
		width: 50%;
	}
}

footer .copyright {
	order: 3;
	@media (min-width: 750px) {
		order: 1;
		width: 100%;	// 50% when nav included
	}
}

footer .nav {
	order: 1;
	@media (min-width: 750px) {
		order: 3;
	}
}

footer .switcher {
	text-align: center;
	order: 2;
	@media (min-width: 750px) {
		order: 2;
	}
}

footer .nav ul,
footer .switcher select,
footer .copyright p {
	margin-bottom: 0.25rem;
}

body.style-guide {
	@include wrapper-setup(100%, 800);
}

.heading .wrapper {
	padding-top: 0;
	border-top: none;
}
.heading .wrapper {
	padding-bottom: 0;
}
.heading nav ul {
	margin-bottom: 1rem;
}

nav {
	@include grid-column-setup(1, 1, 12);
}

.intro,
.sidebar,
.body {
	padding: 0 3rem;
}

.page-intro .body {
	@include grid-column-setup(1, 1, 12);
}
.topic-pic .body {
	@include grid-column-setup(1, 1, 7);
}
.topic-pic .sidebar {
	@include grid-column-setup(1, 8, 5);
}

.typeography .body {
	@include grid-column-setup(1, 1, 7);
}
.typeography .sidebar {
	@include grid-column-setup(1, 8, 5);
}

.btns .body {
	@include grid-column-setup(1, 1, 12);
}
.btns .sidebar {
	@include grid-column-setup(2, 2, 12);
	padding: 0 3rem;
}

.lists .intro {
	@include grid-column-setup(1, 1, 12);
}
.lists .body {
	@include grid-column-setup(2, 7, 6);
}
.lists .sidebar {
	@include grid-column-setup(2, 1, 6);
}

nav ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;

	list-style: none;
	width: 100%;
}

.layout-two nav ul {
	justify-content: flex-end;
	margin-bottom: 0;
	min-height: 12rem;
}

.layout-two .global-nav {
	min-height: 0;
}

.global-nav li {
	padding: 0;
	margin-bottom: 0;
	display: block;
	text-align: right;

	@media (min-width: 750px) {
		padding: 2rem 3.5rem;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		text-align: left;
	}
}

.layout-two .global-nav li {
	@media (min-width: 750px) {
		display: flex;
		justify-content: flex-end;
		padding: 2rem 2.5rem 1rem;
	}
}

.global-nav li a {
	text-decoration: none;
	color: darken($color-content-bg, 10%);
	padding-top: 0rem;

	@media (min-width: 750px) {
		padding-top: 1rem;
	}
}

.global-nav li a:hover {
	color: darken($color-content-bg, 0%);
}

.layout-two .global-nav li a {
}


.global-nav li.nav-img {
	padding: 2rem 4rem;
}

.global-nav li.nav-img a {
	padding-top: 0;
}

.layout-two .global-nav li.mobile-menu {
	display: flex;
	justify-content: flex-end;
	padding: 2rem 2rem 1rem;

	@media (min-width: 750px) {
		display: none;
	}

	a {
		padding: 0.5rem;
		width: 3.5rem;
		border-radius: 0.25rem;
	}
	a:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}
}

.gmenu-item {
	display: inline-block;
	width: 16rem;
	text-align: left;

	@media (min-width: 750px) {
		width: auto;
	}
}

.slicknav_menu {
	display: block;
	min-height: 120px;
	background-color: transparent;

	@media (min-width: 750px) {
		display: none;
	}
}

.slicknav_menu ul {
	display: block;
}

#global-nav-slick {
	display: none;

	@media (min-width: 750px) {
		display: flex;
	}
}

