.about .copy,
.glance .copy,
.contact .copy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.glance ul {
	list-style: none;
}

//
// footer styles
//
.copyright,
.nav {
	margin: 0;
	text-transform: uppercase;
	font-size: 1rem;
	text-align: center;
	padding-bottom: 0.5rem;

	@media (min-width: 750px) {
		padding-bottom: 0;
	}
}

.layout-two .copyright,
.layout-two .nav {
	font-size: 1rem;
	color: darken($color-content-bg, 10%);
}

.layout-two .switcher select {
	font-size: 1rem;
}

.copyright {
	@media (min-width: 750px) {
		text-align: center;
	}
}
.nav {
	display: inline-block;
	@media (min-width: 750px) {
		text-align: right;
	}
}
.nav li {
	display: inline-block;
	padding: 0 2rem;
	margin: 0;
}

.layout-two .nav li a {
	color: darken($color-content-bg, 10%);
}
.layout-two .nav li a:hover {
	color: darken($color-content-bg, 0%);
}

.spotlight {
	text-align: center;
	padding: 1rem 0;
}

.spotlight > img {
	margin-bottom: 2rem;
	width: 80%;
	@media (min-width: 750px) {
		width: 100%;
	}
}

.spotlight .copy {
	text-align: justify;
}

$feature-border-color: #ccc;
$feature-border-width: 1px;

.features {
	//	background-color: lighten($color-grain, 10%);
	background-color: transparent;
	border-width: $feature-border-width 0 0 0;
	border-style: solid;
	border-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0),
			$feature-border-color,
			rgba(0, 0, 0, 0)
		)
		100% 1;
	padding-top: 5rem;
}

.feature {
	text-align: center;
	padding: 1rem 3rem;
}

.feature > img {
	margin-bottom: 2rem;
}

.feature .copy {
	//padding: 1.5rem;
	text-align: justify;
}

.feature {
	//border-right: 1px solid $feature-border-color;
	border-width: 0 $feature-border-width 0 0;
	border-style: solid;
	border-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0),
			$feature-border-color,
			rgba(0, 0, 0, 0)
		)
		1 100%;

	min-height: 30rem;
}

.feature:last-child {
	border-width: $feature-border-width 0 0 0;
	border-style: solid;
	border-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0),
			$feature-border-color,
			rgba(0, 0, 0, 0)
		)
		100% 1;
	border-right: none;
	padding-top: 6rem;

	@media (min-width: 750px) {
		border: none;
		padding-top: 1rem;
	}
}

.body-img__left {
	width: 100%;
	float: left;
	padding: 2rem 4rem;

	@media (min-width: 750px) {
		width: 65%;
	}
}

.body-img__right {
	width: 100%;
	float: right;
	padding: 2rem 4rem;

	@media (min-width: 750px) {
		width: 65%;
	}
}

.small-img {
	width: 30%;
	padding: 1rem 2rem;
}

.quiklinks {
	margin-top: 2rem;
	margin-left: 4rem;
	@media (min-width: 750px) {
		margin-top: 15rem;
		margin-left: 4rem;
	}
}

.quiklinks ul {
	list-style: none;
}

.quiklinks li a.selected {
	color: #cc2e2e;
}

.contact-info {
	width: 90%;
	margin: 0 auto 4rem;
	text-align: left;
}

.contact-info td {
	vertical-align: top;
	padding: 0 1rem;
}

.contact-info td.label {
	text-align: right;
	padding-right: 0;
}

.layout-two .button,
.layout-two button,
.layout-two input[type="submit"],
.layout-two input[type="reset"],
.layout-two input[type="button"] {
	//background-color: $color-header-bg;
	color: #ccc;
}

.layout-two .button:hover,
.layout-two button:hover,
.layout-two input[type="submit"]:hover,
.layout-two input[type="reset"]:hover,
.layout-two input[type="button"]:hover,
.layout-two .button:focus,
.layout-two button:focus,
.layout-two input[type="submit"]:focus,
.layout-two input[type="reset"]:focus,
.layout-two input[type="button"]:focus {
	background-color: transparent;
	color: $color-header-bg;
	border-color: #888;
	outline: 0;
}

.layout-two .maincontent h1 {
	color: $color-headings-highlight;
}

.page-title.aleft {
	text-align: left;
	padding: 0 2rem;
}
